<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<form action="#" method="POST">
    <div>
        <input name="topic" id="topic" type="text" placeholder="Тема сообщения">
    </div>
    <div>
        <input name="message" id="message" type="text" placeholder="Введи свое сообщение">
    </div>
    <div>
        <input name="email" id="email" type="email" placeholder="E-MAIL@mail.ru">
    </div>
    <div>
        <button>Send</button>
    </div>
</form>
</body>
</html>