<section class="background-cover bg-dark pb-5 position-relative pt-5 text-white"
         style="background-image:url('http://photos.wikimapia.org/p/00/06/26/29/92_full.jpg');">
    <div class="container pb-5 pt-5">
        <div class="pb-5 pt-5 row">
            <h1 class="display-3 fw-bold mb-3">Инфраструктурные решения</h1>
            <div class="col-lg-7 pb-5 pt-5">
                <p class="lead mb-4">Our ability to feel, act and communicate is indistinguishable from magic.</p><a
                    href="#" class="btn btn-light pb-2 ps-4 pe-4 pt-2">О нас</a>
            </div>
        </div>
    </div>
</section>